.left
  width: 100%

.right
  width: 80%
  @media screen and (min-width: 1025px)
    width: 60%

.single
  &-sections
    align-items: center
    display: flex
    flex-direction: column
    margin-top: 15px

    @media screen and (min-width: 769px)
      align-items: stretch
      flex-direction: row

  &-comments
    padding: 15px

    &-order
      display: flex
      justify-content: space-between
      margin-bottom: 15px

    &-title
      font-size: 1.2em
      font-weight: bold

    &-ultimos
    &-populares
      border-radius: 5px
      cursor: pointer
      font-size: .9em
      font-weight: bold
      margin-left: .5em
      padding: .5em

      &:active
        background:$color-primary
        color: white

    &-write
      align-items: center
      display: flex
      justify-content: space-between
      margin-bottom: 35px

    &-avatar
      border-radius: 50%
      flex: none
      height: 70px
      width: 70px


      &-small
        border-radius: 50%
        flex: none
        height: 40px
        width: 40px

    &-form
      flex: auto
      height: 100%
      margin-left: 10px

    &-input
      border: 1px solid #aaa
      border-radius: 4px
      font-family: sans-serif
      height: 70px
      padding: 10px
      width: 100%

    &-comment
      margin-top: 15px
      padding-left: 25px

    &-top
      align-items: center
      display: flex
      margin-bottom: 15px

    &-user
      color: $color-primary
      font-weight: bold
      padding: 0 1em
      text-transform: uppercase

    &-text
      padding-left: 50px

  &-videos
    display: flex
    margin: 0 15px
    flex-direction: column

    &-section
      font-size: 1.5em
      font-weight: bold
      margin: 15px 0

      @media screen and (min-width: 769px)
        margin-bottom: 15px
        margin-top: 0


    &-video
      background: white
      display: flex
      height: 130px
      margin: 10px 0
      width: 100%

    &-img
      width: 40%
      height: 100%

    &-content
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px

    &-title
      font-size: 1em
      font-weight: bold
      line-height: 1.2em

    &-category
      padding: .3em .5em
      align-self: flex-start;



.hero
  border-bottom: 10px solid $color-primary
  max-height: 70vh
  overflow: hidden
  position: relative

  &-img
    width: 100%
    height: 100%

  &-text
    align-items: flex-start
    bottom: 15px
    color: white
    display: flex
    flex-direction: column
    left: 0
    justify-content: space-around;
    min-height: 40%
    padding: 2em
    position: absolute

  &-category
    background: $color-primary
    font-weight: bold
    margin-bottom: 15px
    padding: .3em

  &-date
    color: $color-primary
    margin-bottom: 15px
    font-weight: bold

  &-title
    font-size: 1.3em
    font-weight: bold
    @media screen and (min-width: 769px)
      font-size: 1.7em

.social
  align-items: center
  background: #ddd
  display: flex
  justify-content: space-between;
  height: 50px
  padding-right: 5px
  width: 100%

  &-text
  &-vistas
    color: white
    font-size: 1.5em
    font-weight: bold
    padding: .6em 5px

  &-text
    background: $color-primary

  &-vistas
    background: #333

  &-icon
    color: white
    font-size: 1em
    margin-left: 5px
    padding: .4em
    @media screen and (min-width: 769px)
      font-size: 1.3em

.description
  padding: 15px

  &-title
    font-weight: bold
    margin-bottom: 15px
    text-transform: capitalize

  &-text
    line-height: 1.3em
    margin: 15px 0

  &-bold
    margin: 15px 0
    font-weight: bold;

  &-link
    color $color-primary
