.single
  &-comments
    padding: 0 15px
    width: 100%
    @media screen and (min-width: 769px)
      width: 60%

    &-order
      display: flex
      justify-content: space-between
      margin-bottom: 15px

    &-title
      font-size: 1.2em
      font-weight: bold

    &-ultimos
    &-populares
      border-radius: 5px
      cursor: pointer
      font-size: .9em
      font-weight: bold
      margin-left: .5em
      padding: .5em

      &:active
        background:$color-primary
        color: white


    &-write
      align-items: center
      display: flex
      justify-content: space-between
      margin-bottom: 35px

    &-avatar
      border-radius: 50%
      flex: none
      height: 70px
      width: 70px


      &-small
        border-radius: 50%
        flex: none
        height: 40px
        width: 40px

    &-form
      flex: auto
      height: 100%
      margin-left: 10px

    &-input
      border: 1px solid #aaa
      border-radius: 4px
      font-family: sans-serif
      height: 70px
      padding: 10px
      width: 100%

    &-comment
      margin-top: 15px
      padding-left: 25px

    &-top
      align-items: center
      display: flex
      margin-bottom: 15px

    &-user
      color: $color-primary
      font-weight: bold
      padding: 0 1em
      text-transform: uppercase

    &-text
      padding-left: 50px


.hero
  position: relative
  width: 100%

  &-img
    width: 100%
    max-height: 450px

  &-text
    align-items: flex-start
    bottom: 15px
    color: white
    display: flex
    flex-direction: column
    left: 0
    justify-content: space-around;
    min-height: 40%
    padding: 2em
    position: absolute
    width: 100%

  &-category
    background: $color-primary
    font-weight: bold
    margin-bottom: 15px
    padding: .3em

  &-date
    color: $color-primary
    margin-bottom: 15px
    font-weight: bold

  &-title
    font-size: 1.7em
    font-weight: bold
