$background1 = #F4F4F4
$background2 = #333333
$background3 = #FDFDFD

$color-text1 = #323232
$color-text2 = #fefefe

$color-primary = rgb(220, 32, 40)


.icon-social
  &-facebook
    background: #3b5998
    border-radius: 50%
    cursor: pointer
    padding: .1em

  &-twitter
    background: #00aced
    border-radius: 50%
    cursor: pointer
    padding: .1em

  &-plus
    background: #dd4b39;
    border-radius: 50%
    cursor: pointer
    padding: .1em

  &-mail
    background: grey
    border-radius: 50%
    cursor: pointer
    padding: .1em

  &-share
    background: #5CB85C
    border-radius: 50%
    cursor: pointer
    padding: .1em
