// import global styles

@import "./icomoon/style.css"
@import "./global/reset.styl"
@import "./global/variables.styl"

*
*:before
*:after
  box-sizing: border-box

body
  background: $background1
  color: $color-text1
  font-family: 'open sans'
  font-size: 16px
  position: relative

// import style components

@import "./components/header.styl"
@import "./components/modal.styl"
@import "./components/cover.styl"
@import "./components/options.styl"
@import "./components/single.styl"
@import "./components/perfil.styl"
@import "./components/terminos.styl"
@import "./components/footer.styl"
@import "./components/grid.styl"


.hiden
  display: none
